.row {
    height: auto;
    width: 150%;
    position: relative;
}

.card {
    width: 120%;
    height: auto;
    position: relative;
}


.card-confira {
    font-weight: bold;
    font-size: 10%;
    color: black;
}

#tituloproduto {
    color: rgb(255, 251, 0);
    font-weight: bold;
    font-size: 120%;
    bottom: 5%;
    left: -17px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0.466);
    border-radius: 5%;
    height: auto;
    width: auto;
}

#descrição_categoria {
    color: rgb(0, 0, 0);
    background-color: rgba(230, 37, 37, 0.466);
    font-weight: bold;
    font-size: 120%;
    border-radius: 5%;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center; /* Alinha os cards horizontalmente no centro */
    grid-gap: 1%;
    padding: 5%;
    
}



h1 {
    text-align: center;
}
