h2 {
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
    color: white !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    font-family: 'Caprasimo', cursive;
}

p {
    color: rgb(255, 255, 255);
}

#menu {
    position: fixed;
    z-index: 99999;
    right: 5%;
    bottom: 5%;
    background-color: rgb(0, 255, 0);
    background-image: url(Imagens/whats_icon.png);
    background-size: cover;
    width: 55px;
    height: 55px;
}

.section {
    background-color: #B2F594;
}

