.navbar {
    background-color: rgb(212, 10, 10);
}

.btnmenu {
    float: right;
    color:black;
}

.categorias {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.botao_categoria {
    float: center;
    border-radius: 5%;
}

.logo{
width: 100px; /* Largura da imagem do logo */
height: auto; /* Altura da imagem do logo */
position: absolute;
top: 1%;
left: auto;
}


  .rodape {
    background-color: rgb(212, 10, 10);
  }