.navbar {
    background-color: rgb(212, 10, 10);  
}

.btnmenu {
    float: right;
}

.categorias {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.botao_categoria {
    border-radius: 10px;
    font-weight: bold;
}

.logo {
    width: 100px; 
    height: auto; 
    position: absolute;
    top: 10px;
    left: auto;
  }

  .rodape {
    background-color: rgb(212, 10, 10);
  }