.navbar-container {
    background-color: rgb(212, 10, 10);
    width: auto;
    height: auto;
    position: sticky;
    display: flex;
}

.btnmenu {
    float: right;
    width: auto;
    height: auto;
}

.categorias {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.dropdown-trigger {
    float: center;
    bottom: 2px;
    font-weight: bold;
    background-color: rgb(173, 15, 15);
    border-radius: 7%;
    margin-right: 3px;
    padding: 0px 25px;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
}

.logo_mappin{
width: 120px;
height: auto;
margin-top: 15px;
}


  .rodape {
    background-color: rgb(212, 10, 10);
  }